
config EXAMPLES_LSBOARD
	tristate "lsboard command enable"
	default y
	---help---
    Enable the lsboard command that lists connected boards and sensors in JSON format

if EXAMPLES_LSBOARD

config EXAMPLES_LSBOARD_PROGNAME
	string "Program name"
	default "lsboard"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_LSBOARD_PRIORITY
	int "lsboard task priority"
	default 100

config EXAMPLES_LSBOARD_STACKSIZE
	int "lsboard stack size"
	default 2048

endif
